<h1> Sweeney Todd Ad-Lib </h1>


<p> After {{ Req.query.adjective_1 }} years in exile for a crime he didn`t {{ Req.query.verb_1 }} , {{ Req.query.male_in_room }} now Sweeney Todd, returns to {{ Req.query.city }} to find his {{ Req.query.noun_1 }} dead and his daughter in the {{ Req.query.body_part_plural }} of the evil {{ Req.query.occupation }} Turpin. In his anger, Sweeney goes on a {{ Req.query.adjective_2 }} rampage on all {{ Req.query.city }} , with the help of Mrs. Lovett, he opens a {{ Req.query.occupation_2 }} shop in which he lures his victims in with a charming {{ Req.query.noun_2 }} before {{ Req.query.adverb }} ending their life with a {{ Req.query.verb_2 }} of his razor across their {{ Req.query.body_part }}. But not one {{ Req.query.noun_3 }} killed, nor {{ Req.query.number }} men can satisfy Sweeney`s lust for revenge on those who`ve caused his years of pain. 
    </p>