<h1> Sweeney Todd Ad-Lib </h1>


<p> After {{ req.query.adjective_1 }} years in exile for a crime he didn`t {{ req.query.verb_1 }} , {{ req.query.male_in_room }} now Sweeney Todd, returns to {{ req.query.city }} to find his {{ req.query.noun_1 }} dead and his daughter in the {{ req.query.body_part_plural }} of the evil {{ req.query.occupation }} Turpin. In his anger, Sweeney goes on a {{ req.query.adjective_2 }} rampage on all {{ req.query.city }} , with the help of Mrs. Lovett, he opens a {{ req.query.occupation_2 }} shop in which he lures his victims in with a charming {{ req.query.noun_2 }} before {{ req.query.adverb }} ending their life with a {{ req.query.verb_2 }} of his razor across their {{ req.query.body_part }}. But not one {{ req.query.noun_3 }} killed, nor {{ req.query.number }} men can satisfy Sweeney`s lust for revenge on those who`ve caused his years of pain. 
    </p>